.nav-item.localization.active a {
    pointer-events: none;
}
td > img {
    padding: 2px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.card.home-page {
    font-size: 1.5rem;
}
ul.statistics {
    font-size: 1.1rem;
}
ul.statistics .badge{
    float: right;
    font-size: 1.2rem;
    min-width: 10%;
    color: #cccccc;
}

